/* ======================
   Desktop (Overall Layout and Effects)
   ====================== */

* {
    transition: none !important;
}

#windows-area,
#icons-area,
#message-area {
    background-color: var(--color-bg-desktop);
}

#desktop:has(.modal-overlay) > #windows-area > .business.focused {
    filter: blur(1px);
    transition-property: filter !important;
    transition-duration: var(--transition-duration-default).2s !important;
    transition-timing-function: var(--transition-timing-function) !important;
}
