/* ======================
   Navigation bar
   ====================== */

.main-menu-box {
    background-color: var(--color-bg-desktop);
}

.navbar-default {
    background-image: none;
    border-radius: var(--border-radius-form);
    border-color: var(--color-border);
    box-shadow: none;
}

.navbar-default .navbar-nav.main-menu-bar > li > a,
.navbar-default .navbar-nav.navbar-right > li > a {
    margin-top: var(--spacing-xs) !important;
    margin-bottom: var(--spacing-xs) !important;
    border-radius: var(--border-radius-form) !important;
    min-height: 38px;
    /*font-weight: var(--font-weight-semi-bold);*/
}

.navbar .navbar-right > .dropdown > button {
    background-color: var(--color-secondary) !important;
    border-color: var(--color-border-medium) !important;
    color: var(--color-text-light) !important;
    /*font-weight: var(--font-weight-semi-bold);*/
    border-radius: var(--border-radius-ext) !important;
}

.navbar .navbar-right > .dropdown > button:hover,
.navbar .navbar-right > .dropdown > button:focus {
    background-color: var(--color-secondary-hover) !important;
    border-color: var(--color-border-strong) !important;

}

.navbar .navbar-right > .dropdown > button:active,
.navbar .navbar-right > .dropdown.open > button {
    background-color: var(--color-secondary-active) !important;
    border-color: var(--color-border-strong) !important;
}

.navbar-default,
.navbar-collapse,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: var(--color-bg-light);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar .navbar-btn:not(.conn-menu-logged, .conn-menu-idle):hover,
.navbar .navbar-btn:not(.conn-menu-logged, .conn-menu-idle):focus,
.nav-tab > li > a:hover,
.open > button.btn.btn-primary.navbar-btn:not(.conn-menu-logged, .conn-menu-idle).dropdown-toggle,
.open > button.btn.btn-primary.navbar-btn:not(.conn-menu-logged, .conn-menu-idle).dropdown-toggle:focus {
    background-color: var(--color-bg-neutral-secondary);
}

.navbar-default .navbar-nav.main-menu-bar > .active > a,
.nav-tabs > li.active > a {
    color: var(--color-primary-active) !important;
    border-bottom: var(--border-width-thicker) solid var(--color-primary) !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.ribbon-box {
    background-color: var(--color-bg-empty);
    border-top: var(--border-width-default) solid var(--color-border);
    box-shadow: var(--box-shadow);
    margin: var(--spacing-s) var(--spacing-xs);
    margin-top: 0;
    border-radius: var(--border-radius-form);
}

.ribbon-head.item:hover,
.ribbon-head.item:has(ul).opened {
    background-color: var(--color-bg-ribbon-hover);
    transition-property: background-color !important;
    transition-duration: var(--transition-duration-default) !important;
    transition-timing-function: var(--transition-timing-function) !important;
    border: var(--border-width-default) solid rgb(0, 0, 0, 0.05);
    border-top: var(--border-width-default) solid transparent;
    border-bottom: var(--border-width-default) solid transparent;
}

.navbar .ribbon-head .dropdown-menu {
    display: block;
    background-image: none;
    background-color: var(--color-bg-empty);
    border-radius: var(--border-radius-ext);
    border-top-left-radius: 0;
    border: var(--border-width-default) solid var(--color-border-medium);
    padding: var(--spacing-xs) var(--spacing-xs);
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9) translateY(-4px) translateX(-1px);
    transform-origin: top left;
    transition-property: opacity, transform !important;
    transition-duration: var(--transition-duration-short) !important;
    transition-timing-function: var(--transition-timing-function) !important;
    transition-delay: 0;
    box-shadow: var(--box-shadow-menu);
}

.navbar .ribbon-head.opened > .dropdown-menu .dropdown-submenu:hover > .dropdown-menu,
.navbar .ribbon-head.opened > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transition-property: opacity, transform !important;
    transition-duration: var(--transition-duration-short) !important;
    transition-timing-function: var(--transition-timing-function) !important;
    transition-delay: 0;
}

.navbar .ribbon-head.opened > .dropdown-menu {
    transform: scale(1) translateY(1px) translateX(-1px);
}
