/* ======================
   Navigation bar
   ====================== */

.main-menu-box {
    background-color: var(--color-bg-desktop);
}

.navbar-default {
    background-image: none;
    border-radius: var(--border-radius-form);
    border-color: var(--color-border);
    box-shadow: none;
}

.navbar-default .navbar-nav.main-menu-bar > li > a,
.navbar-default .navbar-nav.navbar-right > li > a {
    margin-top: var(--spacing-xs) !important;
    margin-bottom: var(--spacing-xs) !important;
    border-radius: var(--border-radius-form) !important;
    min-height: 38px;
    /*font-weight: var(--font-weight-semi-bold);*/
}

.navbar .navbar-right > .dropdown > button {
    background-color: var(--color-secondary) !important;
    border-color: var(--color-border-medium) !important;
    color: var(--color-text-light) !important;
    /*font-weight: var(--font-weight-semi-bold);*/
    border-radius: var(--border-radius-ext) !important;
}

.navbar .navbar-right > .dropdown > button:hover,
.navbar .navbar-right > .dropdown > button:focus {
    background-color: var(--color-secondary-hover) !important;
    border-color: var(--color-border-strong) !important;

}

.navbar .navbar-right > .dropdown > button:active,
.navbar .navbar-right > .dropdown.open > button {
    background-color: var(--color-secondary-active) !important;
    border-color: var(--color-border-strong) !important;
}

.navbar-default,
.navbar-collapse,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: var(--color-bg-light);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar .navbar-btn:not(.conn-menu-logged, .conn-menu-idle):hover,
.navbar .navbar-btn:not(.conn-menu-logged, .conn-menu-idle):focus,
.nav-tab > li > a:hover,
.open > button.btn.btn-primary.navbar-btn:not(.conn-menu-logged, .conn-menu-idle).dropdown-toggle,
.open > button.btn.btn-primary.navbar-btn:not(.conn-menu-logged, .conn-menu-idle).dropdown-toggle:focus {
    background-color: var(--color-bg-neutral-secondary);
}

.navbar-default .navbar-nav.main-menu-bar > .active > a,
.nav-tabs > li.active > a {
    color: var(--color-primary-active) !important;
    border-bottom: var(--border-width-thicker) solid var(--color-primary) !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
